@charset "UTF-8";
/* noto-sans-jp Regular:400 Medium:500 Bold:700 Black:900*/
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
}

/* poppins */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

/* コンテンツ幅以下可変レイアウト　あとで小数点以下対応 */
html {
  font-size: 2.6666666667vw;
}

@media (min-width: 768px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}
/*初期設定*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

body, h1, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*__________________ヘッダー_______________*/
.header {
  position: fixed;
  z-index: 999;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header {
    position: static;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1137254902);
  }
}
@media (min-width: 1200px) {
  .header {
    position: static;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header__container {
    display: flex;
    width: 1164px;
    margin: 0 auto;
  }
}
.header__first {
  display: flex;
  justify-content: space-between;
}
.header__first .header__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  padding-top: 1.8rem;
  padding-left: 1.6rem;
  padding-bottom: 1.8rem;
}
.header__first .header__logo .header__logo-text {
  color: #005BAC;
}
@media (min-width: 768px) {
  .header__first .header__logo {
    font-size: 3.2rem;
    padding: 0;
  }
}
.header__first .header__hamburger-menu {
  width: 7rem;
  height: 7rem;
  background-color: #005BAC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__first .header__hamburger-menu-line {
  display: block;
  width: 3rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 0.1rem;
}
.header__first .header__hamburger-menu-line:nth-child(1), .header__first .header__hamburger-menu-line:nth-child(2) {
  margin-bottom: 0.6rem;
}
@media (min-width: 768px) {
  .header__first .header__hamburger-menu {
    display: none;
  }
}

.header__links {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.2rem;
  background-color: #005BAC;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header__links {
    display: flex;
    -moz-column-gap: 4.8rem;
         column-gap: 4.8rem;
    padding: 0;
    background-color: #fff;
    transition: unset;
  }
}
.header__links ul {
  margin-bottom: 2.6rem;
}
@media (min-width: 768px) {
  .header__links ul {
    display: flex;
    align-items: center;
    -moz-column-gap: 4.8rem;
         column-gap: 4.8rem;
    margin-bottom: 0;
  }
}
.header__links-list-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #FFF;
}
@media (min-width: 768px) {
  .header__links-list-item {
    padding: 0;
  }
}
.header__links-list-item:nth-child(2) {
  padding-top: 1.6rem;
}
@media (min-width: 768px) {
  .header__links-list-item:nth-child(2) {
    padding-top: 0;
  }
}
.header__links-list-item:nth-child(3) {
  padding-top: 1.7rem;
}
@media (min-width: 768px) {
  .header__links-list-item:nth-child(3) {
    padding-top: 0;
  }
}
.header__links-list-item a {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  display: flex;
  align-items: center;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}
@media (min-width: 768px) {
  .header__links-list-item a {
    display: flex;
    font-size: 2rem;
    color: #333;
  }
}
.header__links-list-item i {
  font-size: 1.4rem;
  color: #fff;
}
@media (min-width: 768px) {
  .header__links-list-item i {
    display: none;
  }
}
.header__links-btn {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #005BAC;
  width: 33.5rem;
  height: 6.6rem;
  border-radius: 3.3rem;
  background-color: #FFF;
}
@media (min-width: 768px) {
  .header__links-btn {
    width: 28.2rem;
    height: 6.1rem;
    font-size: 2rem;
    color: #FFF;
    background: linear-gradient(to right, #0271E0, #53A2F0);
  }
}
@media (min-width: 768px) {
  .header__links-btn:hover {
    opacity: 0.5;
  }
}

@media (min-width: 768px) {
  .header__links {
    transform: translate(0);
    opacity: 1;
  }
}
/*header-links　フェードイン*/
.open-menu {
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}

@media (min-width: 768px) {
  .open-menu {
    transition: unset;
  }
}/*# sourceMappingURL=style.css.map */